

  
*{
    box-sizing:  border-box;
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}
a{
    text-decoration: none;
}
.searchForm{
    width: 50%;

}
.rightSide{
    margin-left: 3rem;

}

.headerNav li.nav-item .nav-link{
   
  
    font-size: 1rem;
    font-weight: 600;
    margin: 0 10px;
    color: rgb(245, 240, 240);

}

.headerNav a.navbar-brand{
    


    color: rgb(252, 249, 249);
    font-size: 2.5rem;
    font-family: Inter;
    color: rgb(245, 240, 240); 


}
.icon{
    background: none;
    border: none;
}
.icon i{
        color: white;
}
/* .modal-dialog{
    float: right;
    margin: auto 10px;
    top: 10%;
} */

.headerNav{
    padding: 10px 0px;
    background-color: #2c2b2b;
    

}

.imag {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: rgb(252, 249, 249);
  }
.me-2, .btn-success{
    border-radius: 15px;
    
}

.rightSide a{
    display: inline-block;
    color: white;
    margin: 0px 10px;
    font-size: 1.2rem;



}
.btn-success{
    border-radius: 15px;
    background-color: rgb(15, 173, 99);  
    
}
.me-2{
    border-radius: 15px;
    background-color: whitesmoke;
}

.rightSide a{
    display: inline-block;
    color: rgb(245, 240, 240);
    margin: 0px 10px;
    font-size: 1.2rem;



}

.btn-toolbar{
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
}

.btn-toolbar button{

    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    display: inline-block;
    border-color: rgb(10, 234, 129);
    text-align: center;
    text-decoration: center;
    color:rgb(10, 234, 129);
    padding: 8px 12px;
    width: 40%;
    margin-right: 40px;
}
.btn-toolbar button:hover{
    background-color:rgb(10, 234, 129);
    border-color: rgb(10, 234, 129);
}
.btn-toolbar i{
    padding-right: 8px;
}
.btn-toolbar button:active{
    border-color: rgb(10, 234, 129);
    background-color:rgb(10, 234, 129);
}
